# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2aa49e36cd118e5b97fb1efa684c5aee5aff2d790e4655d0c564851d97182b744f6c11cbae910aad91a9afb529e99ac4b0ffa30b9eb6fbd7870ae900db45047

test:
  secret_key_base: ec15990dafb61494473b3aac2d58841bcb54484434d09afafe38724e7c7023aca7470e8364c72e2cfa9af9e79e0f0ff42f72ce090ff7a3946c4e8289e2ae059c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
